<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Uploaded</title>
    
    <!-- Add Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- css link -->
    <link rel="stylesheet" href="./style/styles.css">
    
    <style>
        body {
            padding: 50px;
        }
        h1, h2, h3 {
            text-align: center;
        }
        .mt-4 {
            margin-top: 1.5rem !important;
        }
        /* Add max-height and overflow to make the table scrollable */
        .scrollable-table {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body>

    <div class="container scrollable-table table table-striped">
        <thead>
            {{ table|safe }}
        </thead>
        

        

        <!-- <h1 class="mt-5">CSV File Uploaded</h1>

        {% if filename %}
            <h2 class="mt-4">Uploaded File: {{ filename }}</h2>
            {% if table %}
                <h3 class="mt-3">DataFrame:</h3>
                <div class="scrollable-table">
                    {{ table|safe }}
                </div>
            {% endif %}
        {% endif %} -->
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
